*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
:root {
    --secondary: #000;
    --primary: #cc162e;
    --bg-color: #FAFAFA;
    --content-color: rgba(0, 0, 0, 0.79);
    --container-color: #fff;
    --twisting: 10px;
    --content-color30: #0000004d;
    --content-color20: #00000033;
    --secondary80: #333333FF;
}
body {
    font-family: PT Sans,sans-serif;
    font-size: 16px;
    color: var(--content-color);
    height: 100%;
}
.header_moscow {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: .1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.89);
    color: #fff;
    z-index: 10;
    height: 105px;
}
.moscow_header__container {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 20px 40px;
    max-width: 1215px;
    width: 100%;
    z-index: 2;
}
.log {
    font-size: 28px;
    margin-right: 20px;
    max-width: 992px;
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: #fff;
    font-family: "Alumni Sans", sans-serif;
    border: none;
}
@media (max-width: 992px) {
    .log {
        padding: 5px 10px;
        margin-right: 10px;
        font-size: 16px;
    }
}
.page_logo:before {
    top: -7px;
    background: linear-gradient(270deg, var(--primary), rgba(56,208,128,0));
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5px;
    border-radius: 3px;
}
.page_logo:after {
    bottom: -7px;
    background: linear-gradient(90deg, var(--primary), rgba(56,208,128,0));
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5px;
    border-radius: 3px;
}
.moscow_nav__menu {
    flex-grow: 1;
    display: block;
}
.moscow_nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.nav__menu_item {
    padding: 12px 24px;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.8;
    color: inherit;
    transition: .2s ease-out;
    text-shadow: 0 0 8px rgb(0 0 0 / 5%), 1px 1px 1px rgb(0 0 0 / 16%);
}
.nav__menu_item:hover {
    color: #A40313FF;
    cursor: pointer;
}
@media (max-width: 992px) {
    .nav__menu_item {
        padding: 5px 10px;
        margin-right: 10px;
        font-size: 16px;
    }
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.moscow_container {
    position: relative;
    background-color: var(--bg-color);
}
.moscow_content__container {
    z-index: 2;
    position: relative;
    margin: 0 auto;
    padding: 0 150px;
    width: 100%;
}
@media (max-width: 768px) {
    .moscow_content__container {
        padding: 0 10px;
    }
}
@media (max-width: 992px) {
    .moscow_content__container {
        padding: 0 15px;
    }
}
@media (max-width: 1215px) {
    .moscow_content__container {
        max-width: 992px;
    }
}
.container_title {
    position: relative;
    margin: 210px 0 210px;
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    text-align: center;
    z-index: 1;
}
a {
    cursor: default;
}
@media (max-width: 1215px) {
    .container_title {
        font-size: 40px;
    }
}
.content_section {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin: -80px -40px 80px;
    padding: 40px 80px 80px;
    background-color: var(--container-color);
    color: var(--content-color);
    border-radius: var(--twisting);
    box-shadow: 0 8px 64px rgb(0 0 0 / 4%);
}
@media (max-width: 992px) {
    .content_section {
        padding: 10px 0;
    }
}
@media (max-width: 992px) {
    .content_section {
        margin: -40px -8px 40px;
        padding: 24px 24px 40px;
    }
}
.section_menu {
    margin-top: -30px;
    margin-bottom: 10px;
}
@media (max-width: 992px) {
    .list_item {
        padding: 10px 0;
    }
}
@media (max-width: 992px) {
    .list_item {
        padding: 10px 0;
        font-size: 14px;
    }
}
.menu_list {
    display: inline-block;
    padding: 15px 0 20px 0;
    font-size: 16px;
}
.list_item:not(:last-child) a {
    color: var(--primary);
}
.list_item:last-child a {
    color: var( --secondary);
}
.list_item {
    position: relative;
    display: inline;
}
@media (max-width: 992px) {
    .list_item {
        padding: 10px 0;
    }
}
.section_content {
    margin: 80px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -.01em;
}
@media (max-width: 992px) {
    .section_content {
        padding-bottom: 64px;
    }
}
p {
    padding: 10px;
}
.footer {
    position: relative;
    z-index: 1;
    margin-top: auto;
    padding: 40px 0 20px;
    background-color: rgba(0, 0, 0, 0.89);
}
.footer_container {
    z-index: 2;
    position: relative;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1215px;
    width: 100%;
    color: #fff;
}
.footer_content {
    display: flex;
    justify-content: space-between;
}
.footer_menu {
    padding: 0;
    margin: 0 50px 40px;
    list-style: none;
    width: 100%;
}
.footer__menu_list:not(:last-child) {
    margin-bottom: 16px;
}
li {
    display: list-item;
}
.footer__menu_link,
.footer__menu_links {
    color: inherit;
    text-decoration: none;
    transition: .1s ease-in-out;
}
.footer__menu_links:hover {
    color: #A40313FF;
    transition: .1s ease-out;
    cursor: pointer;
}
.footer__menu_link {
    cursor: default;
}
.footer_border {
    width: 100%;
    height: 1px;
    background-color: hsla(0,0%,100%,.2);
    margin: 0 0 20px;
}
.footer_down {
    font-size: 16px;
    text-align: center;
    color: hsla(0,0%,100%,.6);
}
@media (max-width: 992px) {
    .footer {
        padding: 20px 16px 16px;
    }
}
@media (max-width: 992px) {
    .footer_menu {
        width: 50px;
        margin-top: 30px;
    }
}
